<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="index-buttom.html"><img src="img/logo.gif"/>
        <h1>Бизнес-Гид</h1></a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="icon-svg">
          <button type="button" class="btn btn-default btn-lg i-shop" aria-label="Left Align">
            <span class="icomoon icon-shopping82" aria-hidden="true"><br/>товары</span>
          </button>
          <button type="button" class="btn btn-default btn-lg i-factory active" aria-label="Left Align">
            <span class="flaticon flaticon-career" aria-hidden="true"><br/>компании</span>
          </button>
          <button type="button" class="btn btn-default btn-lg i-document" aria-label="Left Align">
            <span class="flaticon flaticon-document6" aria-hidden="true"><br/>заявки</span>
          </button>
        </li>
        <li>
          <form class="navbar-search pull-left">
            <input type="text" [(ngModel)]="searchText" (keyup)="searchEnterprises()" class="search-query pull-left"
                   placeholder="Я ищу..." name="search">
        <li class="dropdown pull-left">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">предприятия <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Товары | Услуги</a></li>
            <li><a href="#">Объявления</a></li>
          </ul>
        </li>
        <button type="button" class="btn btn-default btn-lg icon-search" aria-label="Left Align">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
        </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">

  <div class="starter-template">
    <!--
        <p class="pull-left">Реклама</p>
        <p class="lead clear">Это место было выделено специально для рекламы <br /> но к сожалению вы её не видите.</p>
      -->
    <img src="img/reklama2.jpg"/>
  </div>
</div>
<div class="container middl">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Предприятия</a></li>
      <li class="active">Продукция сельского хозяйства, охоты и лесного хозяйства</li>
    </ol>

  </div>
  <!-- leftmenu -->
  <div class="row">
    <div class="col-md-3">
      <!--<a class="beforeyellow" href="">-->
      <h3 class="yellows" *ngFor="let category of categories" (click)="toggleSelectedCategory(category)">{{category.name}}</h3>

      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Продукты пищевые прочие (23357)</a></li>
        <li><a href="#">Мясо, мясопродукты и продукты убоя животных (20105)</a></li>
        <li><a href="#">Корма готовые для животных (16012)</a></li>
        <li><a href="#">Продукция мукомольно-крупяной промышленности и крахмалопродукты (14107)</a></li>
        <li><a href="#">Продукты молочные и мороженое (10275)</a></li>
        <li><a href="#">Жиры животные и масла растительные (7308)</a></li>
        <li><a href="#">Напитки (6845)</a></li>
        <li><a href="#">Продукция переработки овощей и плодов (4692)</a></li>
        <li><a href="#">Продукция рыбная (2652)</a></li>
      </ul>

      <h4 class="yellows">Компании в регионах</h4>
      <button type="button" class="btn panel panel-heading" data-toggle="collapse" data-target="#ukr"
              aria-expanded="false" aria-controls="ukr"> Украина <span class="caret"></span></button>
      <!--<div id="ukr" class="collapse ">-->
      <ul>
        <li *ngFor="let region of regions" (click)="toggleSelectedRegion(region)">{{region.name}}</li>
      </ul>
      <div class="clear"></div>
      <!--</div>-->
      <a class="btn panel panel-heading" href=""> Армения</a>
      <a class="btn panel panel-heading" href=""> Беларусь</a>
      <a class="btn panel panel-heading" href=""> Китай</a>
      <a class="btn panel panel-heading" href=""> Чехия</a>
      <a class="btn panel panel-heading" href=""> Дания</a>
      <a class="btn panel panel-heading" href=""> Эстония</a>
    </div>
    <!-- /leftmenu -->
    <div class="col-md-9 no-padding-left">
      <div class="row incatalog" *ngFor="let enterprise of enterprises">
        <div class="col-md-4 col-sm-4" *ngIf="false"><img src="img/{{enterprise.name}}" alt="enterprise.name"/></div>
        <div class="col-md-5 col-sm-4">
          <a routerLink="/enterprise/{{enterprise.slug}}"><h4>{{enterprise.name}}</h4></a>
          <!--<p>-->
          <!--EMPTY-->
          <!--</p>-->
        </div>
        <div class="col-md-3 col-sm-4">
          <ul>
            <li *ngIf="enterprise.regionName"><i class="fa fa-building"></i>{{enterprise.regionName}}</li>
            <li class="btn-group" role="group">
              <a id="btnGroupVerticalDrop1" class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown"
                 type="button">
                <i class="fa fa-mobile fa-lg"></i>
                {{enterprise.phones}}
                <span class="caret"></span>
              </a>
              <!--<ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" role="menu">-->
              <!--&lt;!&ndash;<li *ngFor="let phone of enterprise.phones">{{phone}}</li>&ndash;&gt;-->
              <!--</ul>-->
            </li>
            <li><a role="button" href="#" data-toggle="modal" data-target="#bgModalMessage"><i
              class="fa fa-envelope-o"></i> Отправить запрос </a></li>
            <li><a href=""><i class="fa fa-shopping-cart"></i> Все товары </a></li>
          </ul>
          <a class="btn btn-orange grn" role="button" href="#" data-toggle="modal" data-target="#bgModalUp">
            <i class="fa fa-arrow-up fa-2x fa-inverse"></i>
            <span>Поднять компанию</span>
          </a>
        </div>
      </div>


      <!--Pagination-->
      <app-pagination [amountOfItems]="totalItems" [currentPage]="page" [itemsPerPage]="amountPerPage"
                      (getNext)="onNext()" (getPrev)="onPrev()" (getPage)="onPage($event)"
      ></app-pagination>

    </div>


  </div> <!-- /container -->
</div>
<div class="modal fade" id="bgModalUp" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Поднять компанию</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#tab1" data-toggle="tab">На главной</a></li>
          <li><a href="#tab2" data-toggle="tab">По категории</a></li>
          <li><a href="#tab3" data-toggle="tab">По региону</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <form>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" name="optionsCheckboxList1" value="option1">
                    Поднять компанию на 3 дня - 10 грн
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="optionsCheckboxList2" value="option2">
                    Поднять компанию на 7 дней- 20 грн
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="optionsCheckboxList3" value="option3">
                    Поднять компанию на 1 месяц - 60 грн
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="tab2">
            <form>
              <p>Продукция сельского хозяйства, охоты и лесного хозяйства</p>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" name="optionsCheckboxList1" value="option1">
                    Поднять компанию на 3 дня - 10 грн
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="optionsCheckboxList2" value="option2">
                    Поднять компанию на 7 дней- 20 грн
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="optionsCheckboxList3" value="option3">
                    Поднять компанию на 1 месяц - 60 грн
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="tab3">
            <form>
              <p>Украина > Киев</p>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" name="optionsCheckboxList1" value="option1">
                    Поднять компанию на 3 дня - 10 грн
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="optionsCheckboxList2" value="option2">
                    Поднять компанию на 7 дней- 20 грн
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="optionsCheckboxList3" value="option3">
                    Поднять компанию на 1 месяц - 60 грн
                  </label>
                </div>
              </div>
              <!--
                <div class="form-group"><label class="control-label">Название</label>
                <input type="text" class="form-control" placeholder="Вспомогающий текст…"></div>
                <div class="form-group"><label class="control-label">Название</label>
                <input type="text" class="form-control" placeholder="Вспомогающий текст…"></div>
                <div class="form-group"><label class="control-label">Название</label>
                <input type="text" class="form-control" placeholder="Вспомогающий текст…"></div>
                  <div class="form-group"><label class="control-label">Название</label>
              <input type="text" class="form-control" placeholder="Вспомогающий текст…"></div>
              -->
            </form>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn btn-orange grn btn-lg" type="button">Поднять</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="bgModalMessage" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Отправить запрос</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group"><label class="control-label">Фамилия, имя*</label>
            <input type="text" class="form-control" placeholder="Крылов Евгений"></div>
          <div class="form-group"><label class="control-label">Телефон</label>
            <input type="tel" class="form-control" placeholder="229-81-01"></div>
          <div class="form-group"><label class="control-label">e-mail*</label>
            <input type="email" class="form-control" placeholder="studio@cleardesign.com.ua"></div>
          <div class="form-group"><label class="control-label">Описание*</label>

            <textarea class="input-medium" id="textarea" rows="4"></textarea></div>
          <p>Поля отмеченные знаком " * " обязательны для заполнения</p>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-orange grn btn-lg" type="button">Отправить</button>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12 copyrite text-center">
        <a href="#"><img class="grey" src="img/logo-grey.gif" width="150"/></a>
      </div>
      <div class="col-md-10 col-sm-12">
        <div class="row">
          <div class="col-lg-2 col-sm-3 twocolum">
            <ul>
              <li><a hreh="#">О проекте </a></li>
              <li><a hreh="#">Акции </a></li>
              <li><a hreh="#">Новости </a></li>
              <li><a hreh="#">Компании </a></li>
              <li><a hreh="#">Карта сайта </a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-sm-3 threecolum">
            <ul>
              <li><a hreh="#">Контакты </a></li>
              <li><a hreh="#">Статья </a></li>
              <li><a hreh="#">Размещение рекламы </a></li>
              <li><a hreh="#">Доска объявлений </a></li>
              <li><a hreh="#">О сервере </a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-3 fourcolum">
            <ul>
              <li><a hreh="#">Всего компаний: <span> 560 201</span> </a></li>
              <li><a hreh="#">В открытом доступе: <span> 76 985</span> </a></li>
              <li><a hreh="#">Е-мейлов: <span> 46 225</span> </a></li>
              <li><a hreh="#">Web-сайтов: <span> 32 369</span> </a></li>
              <li><a hreh="#">Всего товаров: <span> 123 451</span> </a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-sm-3 fiftcolum">
            <ul class="list-group">
              <li class="tm">TM © 2006–2014</li>
              <li class="list-item">+38 (044) 324 56 78</li>
              <li class="list-item">+38 (044) 123 45 67</li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-12 sixcolum text-center">
            <ul class="social nav">

              <li><a href="#">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
					</span>
              </a></li>
              <li><a href="#">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
              </a></li>
              <li><a href="#">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
              </a></li>
              <li><a href="#">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
					</span>
              </a></li>
              <li class="dropdown flags">
                <a class="dropdown-toggle ru" data-toggle="dropdown" title="Русская версия сайта" rel="active"
                   href="/ru/"> </a>
                <ul id="language" class="dropdown-menu">
                  <li><a class="ua" title="Українська версія сайту" href="/ua/"></a></li>
                  <li><a class="eng" href="/eng/"></a></li>
                </ul>
              </li>
              <!--<img src="img/statistika.gif" />	-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


<!-- /Footer -->
<!-- Bootstrap core JavaScript================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="js/bootstrap.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="js/ie10-viewport-bug-workaround.js"></script>-->
