<div class="container middl">
  <!-- Left -->
  <div class="row">
    <div class="col-md-2 col-sm-3">
      <h4 class="yellows">Бизнес-гид рекомендует</h4>
      <div class="block-reklama">
        <!--<img src="img/reklama4.jpg" /></a>-->
      </div>
    </div>
    <!-- Right -->
    <div class="col-md-10 col-sm-9" *ngIf="enterprise">

      <div class="title">
        <div class="flag pull-left">
          <img src="img/ukr.gif"/>
        </div>
        <h1 class="yellows pull-left"><a href="">{{enterprise.name}}</a></h1>
        <a href=""><img class="pull-right" src="img/10256.jpg"/></a>
        <div class="clear"></div>
      </div>

      <div class="row">
        <p class="text-center">
          <a class="btn btn-success btn-lg" role="button" href="#" data-toggle="modal" data-target="#bgModalUp"><i
            class="fa fa-arrow-up"></i> Поднять компанию</a>
          <a class="btn btn-info btn-lg" role="button" href="#" data-toggle="modal" data-target="#bgModalInfo"><i
            class="fa fa-info-circle"></i> Получить подробную информацию</a>
        </p>
      </div>

      <!--Goods-->
      <!--<div class="row">-->
      <!--<button class="pull-left btn panel-heading">Все товары компании <i class="fa fa-arrow-right"></i></button>-->
      <!--<div class="clear"></div>-->
      <!--<div>-->
      <!--&lt;!&ndash; Carousel items &ndash;&gt;-->
      <!--<ul class="grid cs-style-7">-->
      <!--<li class="col-lg-2 col-md-4 col-sm-4 col-xs-12">-->
      <!--<a href="" class="text-center">-->
      <!--<img src="img/176990.jpg" alt="Image" class="img-responsive">-->
      <!--<h3>Семена капусты - Капуста цвітна Амеріго f1</h3></a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</div>-->
      <!--</div>-->


      <div class="row info">
        <div class="col-md-5">
          <p class="yellows pull-left">О компании </p>
          <div class="clear"></div>
          <p>Хоча "Сингента" є досить молодою компанією, ми маємо довгу і вражаючу історію. Фактично наша історія
            починається в 1758 році, коли Рудольф Георгі-Гемусеус заснував хімічний бізнес в місті Базель,
            Швейцарія.</p>
          <p>
            Створена у 2000 році, успадкувавши здобутки і традиції таких сильних компаній як Novartis Аgribusiness та
            Zeneca Agrochemicals, "Сингента" стала провідною компанією на світовому агрохімічному ринку, метою якої є
            забезпечення стабільного сільськогосподарського виробництва за допомогою інноваційних досліджень та
            технологій </p>
          <a href="">Читать дальше...</a>
        </div>
        <div class="col-md-4">
          <p class="yellows">Бухгалтерская информация</p>
          <p><b>Руководитель:</b> <br/>
            Рогенхофер Гебхард - генеральний директор </p>
          <p><b>Бухгалтер:</b><br/>
            Маврикіна Ольга Олександрівна</p>
          <p><b>Телефон бухгалтера:</b><br/>
            +38 (044) 4941771 </p>
          <p><b>Почтовый адрес:</b><br/>
            03680 м. Київ, вул. Козацька, 120/4</p>
          <p><b>Информация о предприятии:</b><br/>
            Количество сотрудников: 30<br/>
            Год основания: 2004<br/>
            ИНН: 334939626509<br/>
            Номер свидетельства: 100131119 </p>
          <p><b>Банковские реквизиты</b><br/>
            Регистрационный номер предприятия:<br/>
            30265338 </p>
        </div>
        <div class="col-md-3">
          <p class="yellows">Контакты</p>
          <p><b>Веб-сайт:</b>
            <a href="">automix.com.ua</a>
          </p>
          <p>
            <button class="btn panel-heading">
              <a href="mailto:sales@automix.com.ua">Отправить e-mail</a>
            </button>
          </p>
          <!--TODO: FIX paragraph-->
          <!--<p><b>Социальные сети:</b>-->
          <!--<ul class="social nav">-->
            <!--<li><a href="#">-->
							<!--<span class="fa-stack fa-lg">-->
							  <!--<i class="fa fa-circle fa-stack-2x"></i>-->
							  <!--<i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>-->
							<!--</span>-->
            <!--</a></li>-->
            <!--<li><a href="#">-->
							<!--<span class="fa-stack fa-lg">-->
							  <!--<i class="fa fa-circle fa-stack-2x"></i>-->
							  <!--<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>-->
							<!--</span>-->
            <!--</a></li>-->
            <!--<li><a href="#">-->
							<!--<span class="fa-stack fa-lg">-->
							  <!--<i class="fa fa-circle fa-stack-2x"></i>-->
							  <!--<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>-->
							<!--</span>-->
            <!--</a></li>-->
            <!--<li><a href="#">-->
							<!--<span class="fa-stack fa-lg">-->
							  <!--<i class="fa fa-circle fa-stack-2x"></i>-->
							  <!--<i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>-->
							<!--</span>-->
            <!--</a></li>-->
          <!--</ul>-->
          <!--</p>-->
          <p>
            <b>Телефон:</b><br/>
            +38 (044) 2551557 <br/>
            +38 (093) 3414664 <br/>
            +38 (099) 2557727
          </p>

          <p>
            <b>Факс:</b><br/>
            +38 (044) 2551479
          </p>

          <!--TODO: fix-->
          <!--<p>-->
          <!--<ul class="social nav">-->
            <!--&lt;!&ndash;<li><a href="#" alt="skype" title="skype">&ndash;&gt;-->
							<!--&lt;!&ndash;<span class="fa-stack fa-lg">&ndash;&gt;-->
							  <!--&lt;!&ndash;<i class="fa fa-circle fa-stack-2x"></i>&ndash;&gt;-->
							  <!--&lt;!&ndash;<i class="fa fa-skype fa-stack-1x fa-inverse"></i>&ndash;&gt;-->
							<!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#" alt="icq" title="icq">&ndash;&gt;-->
							<!--&lt;!&ndash;<span class="fa-stack fa-lg">&ndash;&gt;-->
							  <!--&lt;!&ndash;<i class="fa fa-circle fa-stack-2x"></i>&ndash;&gt;-->
							  <!--&lt;!&ndash;<i class="fa fa-yelp fa-stack-1x fa-inverse"></i>&ndash;&gt;-->
							<!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a></li>&ndash;&gt;-->
          <!--</ul>-->
          <!--</p>-->

          <p><b>Контактное Лицо</b><br/>
            Нигай Сергей Евгеньевич</p>
          <p><b>Адрес: </b><br/>
            <a href="">01013 г. Киев, ул. Стройиндустрии, 7</a></p>
          <p><img src="img/map-company.jpg"/></p>
        </div>
      </div>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                 aria-controls="collapseOne">
                Товары / Услуги
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Засоби захисту рослин / Насіння зернових культур / Соняшник / Кукурудза / Цукровий буряк / Сорго Услуги
              бетоносмесителей и бетононасосов / Услуги грузовых автомобилей с манипулятором
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                 aria-expanded="false" aria-controls="collapseTwo">
                Филии
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <div class="kartkaBlockTxt">
                керівник регіону
                <br>
                Голиняк Валерій Володимирович
                <br>
                м. Хмельницький
                <br>
                Тел.: +38 050 469 43 56
                <br>
                e-mail: valeriy.golynyak@syngenta.com
                <br>
                <br>
                Дацків Іван Павлович
                <br>
                Закарпатська обл.
                <br>
                Львівська обл.
                <br>
                Тел.: +38 095 273 67 19
                <br>
                e-mail: ivan.datskiv@syngenta.com
                <br>
                <br>
                Романюк Василь Дмитрович
                <br>
                Тернопільська обл.
                <br>
                Івано-Франківська обл.
                <br>
                Тел.: +38 050 352 26 92
                <br>
                e-mail: vasyl.romanyuk@syngenta.com
                <br>
                <br>
                Кутенець Юрій Сільвестрович
                <br>
                Рівненська обл.
                <br>
                Волинська обл.
                <br>
                Тел.: +380 95 273 70 31
                <br>
                e-mail: yurii.kutenets@syngenta.com
                <br>
                <br>
                Клімов Ігор Михайлович
                <br>
                Чернівецька обл.
                <br>
                Хмельницька обл.
                <br>
                Тел.: +380 95 276 55 02
                <br>
                e-mail: igor.klimov@syngenta.com
                <br>
                <br>
                Центральний бізнес-регіон
                <br>
                <br>
                керівник регіону
                <br>
                Штурмаревич Леонід Альбінович
                <br>
                м. Вінниця
                <br>
                Тел.: +380 50 355 09 01
                <br>
                e-mail: leonid.shturmarevich@syngenta.com
                <br>
                <br>
                Вінницька обл.
                <br>
                Тел.: +380 50 382 67 70
                <br>
                e-mail:
                <br>
                <br>
                Здор Сергій Володимирович
                <br>
                Київська та Житомирська обл.
                <br>
                Тел.: +380 50 448 14 01
                <br>
                e-mail:
                <br>
                <br>
                Клименко Володимир Олександрович
                <br>
                Черкаська обл.
                <br>
                Тел.: +380 50 447 96 05
                <br>
                e-mail:
                <br>
                <br>
                Зайцев Володимир Олександрович
                <br>
                Одеська обл.
                <br>
                Тел.: +380 50 335 05 05
                <br>
                e-mail: Vladimir.Zaytsev@syngenta.com
                <br>
                <br>
                Бойко Ігор Олександрович
                <br>
                Миколаївська обл.
                <br>
                Тел.: +380 50 469 43 94
                <br>
                e-mail: igor.boyko@syngenta.com
                <br>
                Північний бізнес-регіон
                <br>
                керівник регіону
                <br>
                Панасенко Олег Леонідович
                <br>
                м. Харків
                <br>
                Тел.: +380 95 282 80 95
                <br>
                e-mail: oleg.panasenko@syngenta.com
                <br>
                <br>
                Бойко Андрій Олександрович
                <br>
                Чернігівська обл.
                <br>
                Тел.: +380 50 441 68 33
                <br>
                e-mail: syngenta_chern@mail.ru
                <br>
                <br>
                Кас'ян Олександр Якович
                <br>
                Сумська обл.
                <br>
                Тел.: +380 50 469 17 23
                <br>
                e-mail: alexander.kasyan@syngenta.com
                <br>
                <br>
                Кириленко Микола Іванович
                <br>
                Полтавська обл.
                <br>
                Тел.: +380 50 380 70 14
                <br>
                e-mail: kyrylenko.mykola@syngenta.com
                <br>
                <br>
                Шелухін Захар Володимирович
                <br>
                Харківська обл.
                <br>
                Тел.: +38 050 381 02 16
                <br>
                e-mail: zakhar.shelukhin@syngenta.com
                <br>
                <br>
                Ревенко Микола Миколайович
                <br>
                Кіровоградська обл.
                <br>
                Тел.: +380 50 469 41 67
                <br>
                e-mail: mykola.revenko@syngenta.com
                <br>
                <br>
                Південний бізнес-регіон
                <br>
                <br>
                керівник регіону
                <br>
                Макарчук Валерій Володимирович
                <br>
                м. Дніпро
                <br>
                Тел.: +380 50 331 25 26
                <br>
                e-mail: valeriy.makarchuk@syngenta.com
                <br>
                <br>
                Макаренко Михайло Григорович
                <br>
                Луганська обл.
                <br>
                Тел.: +380 50 335 90 90
                <br>
                e-mail: makarenko.mykhail@syngenta.com
                <br>
                <br>
                Тітов Сергій Іванович
                <br>
                Донецька обл.
                <br>
                Тел.: +380 50 469 43 41
                <br>
                e-mail: sergiy.titov@syngenta.com
                <br>
                <br>
                Запорізька обл.
                <br>
                Тел.: +380 50 448 1401
                <br>
                Крикун Олександр Миколайович
                <br>
                <br>
                Херсонська обл.
                <br>
                Тел.: +380 50 344 30 30
                <br>
                e-mail: alexander.krykun@syngenta.com
                <br>
                <br>
                Попов Павло Григорович
                <br>
                АР Крим
                <br>
                Тел.: +380 50 469 43 25
                <br>
                e-mail: pavel.popov@syngenta.com
                <br>
                <br>
                Корольчук Руслан Олександрович
                <br>
                Дніпропетровська обл.
                <br>
                Тел.: +380 50 381 70 90
                <br>
                e-mail: ruslan.korolchuk@syngenta.com
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                 aria-expanded="false" aria-controls="collapseThree">
                Виды экономической деятельности
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <ul class="nav">
                <li>
                  <a href="http://business-guide.com.ua/enterprises?v=5&o="
                     title="Вирощування зернових та технiчних культур">Вирощування зернових та технiчних культур</a>
                </li>
                <li>
                  <a href="http://business-guide.com.ua/enterprises?v=363&o="
                     title="Виробництво агрохiмiчної продукцiї">Виробництво агрохiмiчної продукцiї</a>
                </li>
                <li>
                  <a href="http://business-guide.com.ua/enterprises?v=867&o="
                     title="Посередництво в торгiвлi сiльськогосподарською сировиною, живими тваринами, текстильною сировиною та напiвфабрикатами">Посередництво
                    в торгiвлi сiльськогосподарською сировиною, живими тваринами, текстильною сировиною та
                    напiвфабрикатами</a>
                </li>
                <li>
                  <a href="http://business-guide.com.ua/enterprises?v=886&o="
                     title="Оптова торгiвля зерном, насiнням та кормами для тварин">Оптова торгiвля зерном, насiнням та
                    кормами для тварин</a>
                </li>
                <li>
                  <a href="http://business-guide.com.ua/enterprises?v=911&o="
                     title="Оптова торгiвля iншими продуктами харчування">Оптова торгiвля iншими продуктами
                    харчування</a>
                </li>
                <li>
                  <a href="http://business-guide.com.ua/enterprises?v=948&o="
                     title="Оптова торгiвля хiмiчними продуктами">Оптова торгiвля хiмiчними продуктами</a>
                </li>
                <li>
                  <a href="http://business-guide.com.ua/enterprises?v=972&o=" title="Іншi види оптової торгiвлi">Іншi
                    види оптової торгiвлi</a>
                </li>
                <li>
                  <a href="http://business-guide.com.ua/enterprises?v=1237&o="
                     title="Дослiдження i розробки в галузi природничих наук">Дослiдження i розробки в галузi
                    природничих наук</a>
                </li>
                <li>
                  <a href="http://business-guide.com.ua/enterprises?v=1238&o="
                     title="Дослiдження i розробки в галузi технiчних наук">Дослiдження i розробки в галузi технiчних
                    наук</a>
                </li>
                <li>
                  <a href="http://business-guide.com.ua/enterprises?v=1253&o="
                     title="Консультування з питань комерцiйної дiяльностi та управлiння">Консультування з питань
                    комерцiйної дiяльностi та управлiння</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                 aria-expanded="false" aria-controls="collapseFour">
                Торговые марки
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              Syngenta®
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                 aria-expanded="false" aria-controls="collapseFive">
                Компанія експортує товари в наступні країни
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <a href="http://business-guide.com.ua/enterprises?export_mva=348">Угорщина</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                 aria-expanded="false" aria-controls="collapseSix">
                Компанія імпортує товари з наступних країн
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              <a href="http://business-guide.com.ua/enterprises?import_mva=40">Австрія</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=56">Бельгія</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=208">Данія</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=250">Франція</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=276">Німеччина</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=300">Греція</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=348">Угорщина</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=376">Ізраїль</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=440">Литва</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=498">Молдова</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=528">Нідерланди</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=616">Польща</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=703">Словакія</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=724">Іспанія</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=752">Швеція</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=756">Швейцарія</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=792">Туреччина</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=826">Великобританія</a>
              ,
              <a href="http://business-guide.com.ua/enterprises?import_mva=840">Сполучені Штати</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"
                 aria-expanded="false" aria-controls="collapseSeven">
                Ліцензії
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              <a href="http://business-guide.com.ua/enterprises?export_mva=348">Ліцензія на право реалізації АВ №
                593613</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
