<!--The content below is only a placeholder and can be replaced.-->
<div class="div">
  HEADER
</div>
<router-outlet></router-outlet>
<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12 copyrite text-center">
        <a href="#"><img class="grey" src="/assets/logo-grey.gif" width="150"/></a>
      </div>
      <div class="col-md-10 col-sm-12">
        <div class="row">
          <div class="col-lg-2 col-sm-3 twocolum">
            <ul>
              <li><a hreh="#">О проекте </a></li>
              <li><a hreh="#">Акции </a></li>
              <li><a hreh="#">Новости </a></li>
              <li><a hreh="#">Компании </a></li>
              <li><a hreh="#">Карта сайта </a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-sm-3 threecolum">
            <ul>
              <li><a hreh="#">Контакты </a></li>
              <li><a hreh="#">Статья </a></li>
              <li><a hreh="#">Размещение рекламы </a></li>
              <li><a hreh="#">Доска объявлений </a></li>
              <li><a hreh="#">О сервере </a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-3 fourcolum">
            <ul>
              <li><a hreh="#">Всего компаний: <span> 560 201</span> </a></li>
              <li><a hreh="#">В открытом доступе: <span> 76 985</span> </a></li>
              <li><a hreh="#">Е-мейлов: <span> 46 225</span> </a></li>
              <li><a hreh="#">Web-сайтов: <span> 32 369</span> </a></li>
              <li><a hreh="#">Всего товаров: <span> 123 451</span> </a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-sm-3 fiftcolum">
            <ul class="list-group">
              <li class="tm">TM © 2006–2018</li>
              <li class="list-item">+38 (044) 324 56 78</li>
              <li class="list-item">+38 (044) 123 45 67</li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-12 sixcolum text-center">
            <ul class="social nav">

              <li><a href="#">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
					</span>
              </a></li>
              <li><a href="#">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
              </a></li>
              <li><a href="#">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
              </a></li>
              <li><a href="#">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
					</span>
              </a></li>
              <li class="dropdown flags">
                <a class="dropdown-toggle ru" data-toggle="dropdown" title="Русская версия сайта" rel="active"
                   href="/ru/"> </a>
                <ul id="language" class="dropdown-menu">
                  <li><a class="ua" title="Українська версія сайту" href="/ua/"></a></li>
                  <li><a class="eng" href="/eng/"></a></li>
                </ul>
              </li>
              <!--<img src="img/statistika.gif" />	-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- /Footer -->
<!-- Bootstrap core JavaScript================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="js/bootstrap.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="js/ie10-viewport-bug-workaround.js"></script>-->
