<nav class="pagin">
  <ul class="pagination">
    <li *ngIf="currentPage!==1"><a href="#" (click)="$event.preventDefault(); getPrev.emit()"><span aria-hidden="true">&laquo;</span></a>
    </li>
    <li *ngFor="let page of getPages()">
      <a href="#" (click)="$event.preventDefault(); getPage.emit(page)" [ngClass]="{'navigation_button_active':page===currentPage}">{{page}}</a>
    </li>
    <li *ngIf="hasNextPage()"><a href="#" (click)="$event.preventDefault(); getNext.emit()"><span aria-hidden="true">&raquo;</span></a>
    </li>
  </ul>
</nav>
