<app-enterprise-search></app-enterprise-search>
<div class="container">
  <div class="starter-template">
    <img src="assets/reklama2.jpg">
  </div>
  <div class="container middl">
    <!-- Left -->
    <div class="row">
      <div class="col-md-2 col-sm-3">
        <h4 class="yellows">Бизнес-гид рекомендует</h4>
        <div class="block-reklama">
          <img src="assets/reklama4.jpg " />
        </div>
      </div>

      <!-- Right -->
      <div class="col-md-10 col-sm-9" *ngIf="enterprise">

        <div class="title">
          <div class="flag pull-left">
            <img src="./assets/imgs/ukr.gif"/>
          </div>
          <h1 class="yellows pull-left"><a href="#">{{enterprise.name}}</a></h1>
          <a href="" *ngIf="enterprise.logo"><img class="pull-right" src="http://i.biz-gid.com/img/logo/{{enterprise.logo}}"/></a>
          <div class="clear"></div>
        </div>

        <div class="row">
          <p class="text-center">
            <a class="btn btn-success btn-lg" role="button" href="#" (click)="showPaymentModal($event)"><i
              class="fa fa-arrow-up"></i> Поднять компанию</a>
            <a class="btn btn-info btn-lg" role="button" href="#" (click)="showAdditionalInfoModal($event)" ><i
              class="fa fa-info-circle"></i> Получить подробную информацию</a>
          </p>
        </div>

        <!--Goods-->
        <!--<div class="row">-->
        <!--<button class="pull-left btn panel-heading">Все товары компании <i class="fa fa-arrow-right"></i></button>-->
        <!--<div class="clear"></div>-->
        <!--<div>-->
        <!--&lt;!&ndash; Carousel items &ndash;&gt;-->
        <!--<ul class="grid cs-style-7">-->
        <!--<li class="col-lg-2 col-md-4 col-sm-4 col-xs-12">-->
        <!--<a href="" class="text-center">-->
        <!--<img src="img/176990.jpg" alt="Image" class="img-responsive">-->
        <!--<h3>Семена капусты - Капуста цвітна Амеріго f1</h3></a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->


        <div class="row info">
          <div class="col-md-5" *ngIf="enterprise.description">
              <p class="yellows pull-left">О компании</p>
              <div class="clear"></div>
              <p *ngIf="enterprise.description">
                {{enterprise.description}}
              </p>
          </div>
          <div class="col-md-4">
            <p class="yellows">Бухгалтерская информация</p>
            <p *ngIf="enterprise.contactPeople.director">
              <b>Руководитель:</b>
              <br/>
              {{enterprise.contactPeople.director}}
            </p>
            <p *ngIf="enterprise.contactPeople.accountant">
              <b>Бухгалтер:</b><br/>
              {{enterprise.contactPeople.accountant}}
            </p>
            <p *ngIf="enterprise.contactPeople.manager">
              <b>Менеджер:</b><br/>
              {{enterprise.contactPeople.manager}}
            </p>
            <p *ngIf="enterprise.postAddress">
              <b>Почтовый адрес:</b><br/>
              {{enterprise.postAddress}}
            </p>
            <p>
              <b>Информация о предприятии:</b><br/>
              <span *ngIf="enterprise.employeesNumber">Количество сотрудников: {{enterprise.employeesNumber}}<br/></span>
              <span *ngIf="enterprise.yearOfFoundation">Год основания: {{enterprise.yearOfFoundation}}<br/></span>
              <span *ngIf="enterprise.bankDetails.INN">ИНН: {{enterprise.bankDetails.INN}}<br/></span>
              <span *ngIf="enterprise.bankDetails.companyRegistrationNumber">Номер свидетельства: {{enterprise.bankDetails.companyRegistrationNumber}}</span>
            </p>
            <p *ngIf="enterprise.bankDetails.bank && enterprise.bankDetails.MFO"><b>Банковские реквизиты</b><br/>
              <span *ngIf="enterprise.bankDetails.bank">Банк: {{enterprise.bankDetails.bank}}<br/></span>
              <span *ngIf="enterprise.bankDetails.MFO">Регистрационный номер предприятия:{{enterprise.bankDetails.MFO}}</span>
            </p>
          </div>
          <div class="col-md-3">
            <p class="yellows">Контакты</p>
            <p *ngIf="enterprise.sitesUrl">
              <b>Веб-сайт:</b>
              <a href="http://{{enterprise.sitesUrl}}" target="_blank">{{enterprise.sitesUrl}}</a>
            </p>
            <p *ngIf="enterprise.emails">
              <button class="btn panel-heading">
                <a href="mailto:{{enterprise.emails[0]}}">Отправить e-mail</a>
              </button>
            </p>
            <p *ngIf="enterprise.phones">
              <b>Телефон:</b><br/>
              {{enterprise.phones}}
            </p>
            <p *ngIf="enterprise.faxes">
              <b>Факс:</b><br/>
              {{enterprise.faxes}}
            </p>
            <ul class="social nav" *ngIf="enterprise.skype">
              <li>
                <a href="skype:{{enterprise.skype}}" alt="skype" title="skype">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p *ngIf="enterprise.postAddress || enterprise.address">
              <b>Адрес: </b><br/>
              {{enterprise.address || enterprise.postAddress }}
            </p>
            <p *ngIf="map">
              <agm-map [latitude]="map.lat" [longitude]="map.lng">
                <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
              </agm-map>
            </p>
          </div>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <!--Товары/Услуги-->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                   aria-controls="collapseOne">
                  Товары / Услуги
                </a>
              </h4>
            </div>
            <div *ngIf="enterprise.productsAndOffers" id="collapseOne" class="panel-collapse collapse in " role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body product-and-offers">
                {{enterprise.productsAndOffers}}
              </div>
            </div>
          </div>
          <!--Филиалы-->
          <div class="panel panel-default" *ngIf="enterprise.branches">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                   aria-expanded="false" aria-controls="collapseTwo">
                  Филии
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <div class="kartkaBlockTxt">
                  <span *ngFor="let branch of enterprise.branches">{{branch}}</span>
                </div>
              </div>
            </div>
          </div>
          <!--Вид экономической деяельности-->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                   aria-expanded="false" aria-controls="collapseThree">
                  Виды экономической деятельности
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <ul class="nav">
                  <li *ngFor="let category of enterprise.categoriesId">
                  <a href="{{category}}" title="{{category}}" *ngIf="enterpriseAdditional && enterpriseAdditional.categories[category]">
                    {{enterpriseAdditional && enterpriseAdditional.categories[category] || category}}
                  </a>
                </li>
                </ul>
              </div>
            </div>
          </div>
          <!--ТМ-->
          <div class="panel panel-default"  *ngIf="enterprise.trademarks">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                   aria-expanded="false" aria-controls="collapseFour">
                  Торговые марки
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                {{enterprise.trademarks}}
              </div>
            </div>
          </div>
          <!--Експорт страны-->
          <div class="panel panel-default" *ngIf="false && enterprise.exportRegionsID">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                   aria-expanded="false" aria-controls="collapseFive">
                  Компанія експортує товари в наступні країни
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <div *ngFor="let exportRegion of enterprise.exportRegionsID" >
                  <a *ngIf="enterpriseAdditional&& enterpriseAdditional.regions[exportRegion]" href="{{exportRegion}}">
                    {{enterpriseAdditional && enterpriseAdditional.regions[exportRegion]}}<br/>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Импорт страны-->
          <div class="panel panel-default" *ngIf="false && enterprise.importRegionsId">
            <div class="panel-heading" role="tab" id="headingSix">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                   aria-expanded="false" aria-controls="collapseSix">
                  Компанія імпортує товари з наступних країн
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
              <div class="panel-body">
                 <div *ngFor="let importRegion of enterprise.importRegionsId" >
                    <a href="{{importRegion}}" *ngIf="enterpriseAdditional&& enterpriseAdditional.regions[importRegion]">{{enterpriseAdditional&& enterpriseAdditional.regions[importRegion]}}<br /></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

